:root{
    --ff-primary: 'Patrick Hand', cursive;;
    --ff-secondary: 'Caveat', cursive;
    --ff-tertiary: 'Handlee', cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #593C1F;
    --clr-accent: #f54a16;
    --clr-hamburger: #1404FB;

    --fs-h1: 3.5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2.25rem;
    --fs-h5: 1.5rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
* {
    margin: 0;
  }
.logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 700px){
    .logo {
        width: 20%;
        
    }
}


@media (min-width: 1070px){
    .logo {
        width: 14%;
        
    }
}

@media (min-width: 1120px){
    .logo {
        width: 5%;
        
    }
}

@media (min-width: 1400px){
    .logo {
        width: 10%;
        
    }
}

.section_nav{

    background-color: var( --clr-light);
    width: 100%;
    top: 0;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--clr-light);
}

.section_nav_navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom:1em;
    
}
.section_nav_navbar li{
    margin: 1em;
    display: inline;
}

.section_nav_link{
    color: var(--clr-dark);
}

.section_nav_link:hover{
    color: var(--clr-accent);
}

.section_cafe_images_title{
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: var(--fs-h1);
    font-family: var(--ff-secondary);
}


.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1000px;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
  }

.wrapper img {
    z-index: -1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: 5%;
    clip-path: polygon(50% 0, 100% 20%, 100% 75%, 50% 100%, 0 75%, 0 20%);
    transform: scale(1);
    transition: all .5;
}

.section_cafe_about_us_title{
    text-align: center;
    font-size: var(--fs-h1);
    font-family: var(--ff-secondary);
}

.section_cafe_about_us_paragraphs{
    text-align: center;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-top: 2.5em;
    font-size: var(--fs-body);
    font-family: var(--ff-tertiary);
    
}

.section_our_menu_title, .section_our_menu_drinks_title{
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: var(--fs-h1);
    font-family: var(--ff-secondary);
}
.section_our_menu_breakfast, .section_our_menu_lunch, .section_our_menu_dinner{
    
    display: grid;
    padding: 1em;
    justify-items: center;
    
}

   
.section_our_menu_breakfast_title, .section_our_menu_lunch_title, .section_our_menu_dinner_title{
    padding: 40px;
    text-align: center;
    font-size: var(--fs-h4);
    font-family: var(--ff-tertiary);
}

.image {
    
    display: block;
    width: 100%;
    height: auto;
  }
  .image_container {
    position: relative;
    width: 100%;
}
.image_overlay {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--clr-dark);
  }
  
  .image_container:hover .image_overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: var(--fs-h3);
    position: absolute;
    font-family: var(--ff-secondary);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
@media (min-width: 1000px){
    .section_our_menu_breakfast, .section_our_menu_lunch, .section_our_menu_dinner{
        padding: 1em;
        justify-content: center;
        display: flex;
    }
    .section_our_menu_breakfast_title, .section_our_menu_lunch_title, .section_our_menu_dinner_title{
        padding: 40px;
        text-align: center;
        font-size: var(--fs-h4);
        font-family: var(--ff-tertiary);
    }
    .section_our_menu_breakfast_image, .section_our_menu_lunch_image, .section_our_menu_dinner_image{
        width: 50%;
    }
}

.section_our_menu_cold_drinks, .section_our_menu_hot_drinks, .section_our_menu_drinks_item{
    justify-content: center;
    display: block;
    text-align: center;
    font-family: var(--ff-tertiary);
    
}
 .section_our_menu_drinks_table{
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
 }

.section_our_menu_hot_drinks_title, .section_our_menu_cold_drinks_title{
    text-align: center;
    font-size: var(--fs-h3);
    font-family: var(--ff-primary);
    padding: 1em;
}
.section_our_menu_drinks_item{
    font-size: var(--fs-h4);
    font-family: var(--ff-secondary);
    
}
.section_contact_title{
    text-align: center;
    font-size: var(--fs-h1);
    font-family: var(--ff-primary);
}
.section_contact_address{
    text-align: center;
    font-size: var(--fs-h4);
    font-family: var(--ff-secondary);
}
.mapouter{
    margin: 2em 0;
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    margin: auto;
    justify-content: center;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:400px;
}

@media (min-width: 650px){
    .gmap_canvas {
        height:500px;
        width:600px;
    }
}

.social_list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
    margin-top: 2.5em;
    padding: 0;
    font-size: var(--fs-h3);
    color: var(--clr-dark);
}

.soical_list_item{
    margin: 0.5em;
}

.social_list_link {
    padding: .5em;
}

.footer_copyright, .footer_created_by{
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h5);
    margin-bottom: 1em;
}
